body {
  text-align: center;
  max-width: 600px;
  margin: auto;
  background: white;
  color: black
}

@media (prefers-color-scheme: dark) {
  body {
    background: #3b3b3b;
    color: white;
  }
}

h1 {
  font-size: 70px;
  font-family: 'Rubik Doodle Shadow';
}

* {
  font-family: 'EB Garamond';
}

h2 {
  font-size: 35px;
}

h3, input, span, button {
  font-size: 22px;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

input[type=text] {
  margin: 0 -1px 0 16px;
}

.guess-part {
  width: 120px;
}

.guess-with-status {
  position: relative;
}

.guess-with-status.ml-auto {
  margin-left: auto;
}

.guess-status {
  position: absolute;
  right: 6px;
  top: 3px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.timer-container {
  margin-top: 105px;
  font-size: 35px;
}

#puzzle-status {
  color: #2bb605;
}

.pre-start-barrier {
  position: absolute;
  top: 230px;
  bottom: 0;
  left: calc(50% - 350px);
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(9px);
}

.pre-start-barrier.hidden {
  display: none;
}

.next-button {
  margin-left: 8px;
}

.tools-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.open-modal-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.modal {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  padding: 60px calc((100% - 400px) / 2) 0;
  z-index: 1;
  transition: top 0.3s, opacity 0.3s;
}

.modal.closed {
  opacity: 0;
  top: 30px;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .modal {
    background: #3b3b3b;
    color: white;
  }

  path {
    stroke: white;
  }

  .close-modal path {
    fill: white;
  }
}

.modal p {
  font-size: 22px;
}

.close-modal {
  position: absolute;
  right: 25px;
  top: 25px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .stat-value {
  font-size: 32px;
  font-weight: bold;
}

.stat-name, .stat-value {
  margin: 12px 0;
}

.setting {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.setting.disabled {
  text-decoration: line-through;
  pointer-events: none;
}

.clue-guess-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.hidden {
  display: none;
}

input[type="checkbox"], button {
  cursor: pointer;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-left: 12px;
}