body {
  text-align: center;
  max-width: 600px;
  margin: auto;
  background: white;
  color: black
}

@media (prefers-color-scheme: dark) {
  body {
    background: #3b3b3b;
    color: white;
  }
}

h1 {
  font-size: 70px;
  font-family: 'Rubik Doodle Shadow';
}

* {
  font-family: 'EB Garamond';
}

h2 {
  font-size: 35px;
}

h3, input, span, button {
  font-size: 22px;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

input[type=text] {
  margin: 0 -1px 0 16px;
}

.guess-part {
  width: 120px;
}

.guess-with-status {
  position: relative;
}

.guess-with-status.ml-auto {
  margin-left: auto;
}

.guess-status {
  position: absolute;
  right: 6px;
  top: 3px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.timer-container {
  margin-top: 105px;
  font-size: 35px;
}

#puzzle-status {
  color: #2bb605;
}

.pre-start-barrier {
  position: absolute;
  top: 250px;
  height: 400px;
  left: calc(50% - 350px);
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(9px);
}

.pre-start-barrier.hidden {
  display: none;
}

.settings-container {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 0;
}

.setting {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.setting.disabled {
  text-decoration: line-through;
  pointer-events: none;
}

.clue-guess-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.hidden {
  display: none;
}